.App{
  background:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  min-height: 100vh;
  overflow: hidden;
}

.column__Style{
  height: 50px;
  width: 50px;
  border: 0.1px whitesmoke;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__Style{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.snake__Style {
  margin-top: -500px;
  transform: rotate(15deg);
}

.snake2__Style {
  transform: rotate(40deg);
  margin-top: -160px;
}

.snake3__Style {
  transform: rotate(-50deg);
  margin-top: -710px;
  margin-left: 90px;
}


.ladder__Style{
  margin-top: -220px;
  transform: rotate(30deg);
}

.ladder1__Style{
  margin-top: -500px;
  transform:  rotate(-50deg);
  margin-left: 300px;
}

.ladder2__Style{
  margin-top: -200px;
  margin-right: 420px;
}