.App{
  background:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  min-height: 100vh;
}

.column__Style{
  height: 50px;
  width: 50px;
  border: 0.1px whitesmoke;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__Style{
  display: flex;
  flex-direction: row;
}