.App{
  background:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  min-height: 100vh;
}

.column__Style{
  height: 50px;
  width: 50px;
  border: 0.1px whitesmoke;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__Style{
  display: flex;
  flex-direction: row;
}

.snake__Style {
  margin-top: -450px;
  transform: rotate(15deg);
}

.snake2__Style {
  transform: rotate(40deg);
  margin-top: -140px;
}

.snake3__Style {
  transform: rotate(-50deg);
  margin-top: -700px;
  margin-left: 90px;
}
